<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <main class="content-wrapper">
            <aside class="navigation"></aside>
            <section class="content">

            </section>
        </main>
        <footer class="status-bar">

        </footer>

        {#% block body %}{% endblock %#}

        <script src="{{ asset('webpack-dev-server.js') }}"></script>
        <script src="{{ asset('assets/bundle.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
